@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
body {
    background-color: #2c3251;
    /* background-image: url( "https://source.unsplash.com/featured/?landscape/1600"); */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeIn 1.2s ease-in-out forwards;
    animation-delay: 0.8s;
}

.main-panel {
    /* border:1px solid gold; */
    display: inline-block;
    margin: auto;
    width: auto;
}

.center-aligned {
    text-align: center;
    align-items: center;
    justify-content: center;
}

input {
    background: none;
    appearance: none;
    border: 0;
    font-size: 22px;
    color: white;
    border-bottom: 2px solid white;
}

input::placeholder {
    color: white;
    text-align: center;
    opacity: 0.8;
}

input:focus, 
input:active {
    outline: none;
}

#js-weather-icon, #js-weather-text {
    color: white;
    vertical-align: middle;
}

.weather {
    position: absolute;
    /* font-style: italic; */
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 25px;
}

#js-clock {
    color: white;
    font-size: 60px;
}

#js-greetings-text {
    color: white;
}

#js-todo-ul {
    list-style:none;
    text-align: left;
    color: white;
}