body {
    background-color: #2c3251;
    /* background-image: url( "https://source.unsplash.com/featured/?landscape/1600"); */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-panel {
    /* border:1px solid gold; */
    display: inline-block;
    margin: auto;
    width: auto;
}

.center-aligned {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#js-todo-ul {
    list-style:none;
    text-align: left;
}